.brands-menu {
  position: relative;
}

.brands-menu__title {
  position: relative;
  height: 80px;
  margin: 16px 0 0 0;
  padding: 0 0 0 20px;
  background: linear-gradient(90deg, rgb(248, 248, 248) , rgb(255, 255, 255));
  color:$color-active;
  border-top: 1px solid $color-second;
  @media (min-width: $screen-md) {
    min-width: 700px;
    height: 56px;
  }
  @media (min-width: $screen-lg) {
    //min-width: 1470px;
    height: 56px;
  }

  p {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.brands-menu__brands{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 0;
  padding: 16px 0 0 16px;
  list-style: none;
  width: 100%;

  @media (min-width: $screen-md) {
    padding-top: 24px;
    max-width: 900px;
  }
  @media (min-width: $screen-lg) {
    max-width: 1200px;
  }
}

.brand__1, .brand__2, .brand__3,
.brand__4, .brand__5, .brand__6,
.brand__7, .brand__8, .brand__9,
.brand__10, .brand__11 {
  border: 0 solid $color-area-text;
  border-radius: 5%;
  margin: 0 0 20px 0;
  width: 240px;

  @media (min-width: $screen-md) {
    width: 224px;
    height: 72px;
    background: $color-background;
    margin-right: 24px;
  }

  @media (min-width: $screen-lg) {
    margin-right: 32px;
  }

  &:hover {
    cursor: pointer;
  }
}

.brand__4, .brand__8,
.brand__9, .brand__10, .brand__11{
  @media (min-width: $screen-md) {
    display: none;
  }
}

.brand__4, .brand__8{
  @media (min-width: $screen-lg) {
    display:inline;
  }
}

.brand__9, .brand__10, .brand__11 {
  @media (min-width: $screen-md) {
    display: none;
  }
}

.brands-menu__show-all{
  display: none;
  font-family: 'TT Lakes Medium', sans-serif;
  padding-left: 8px;
  margin: 0 0 0 32px;

  @media (min-width: $screen-md) {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }

  p {
    margin: 0 0 0 8px;
  }
}

.brands-menu__show-all::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -3px;
  width: 5px;
  height: 5px;
  border: solid #41F6D7;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 0.1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.brands-menu__show-all::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -3px;
  width: 5px;
  height: 5px;
  border: solid #41F6D7;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 0.1px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.brands-menu__show-all--rotated::before,
.brands-menu__show-all--rotated::after {
  transform: rotate(-135deg);
}

.brand__fader {
  width: 24px;
  height: 81px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1000;
  opacity: 0.7;
  @media (min-width: $screen-md) {
    display: none;
  }
  @media (min-width: $screen-lg) {
    display: none;
  }
}
